@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  backdrop-filter: blur(10px);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  box-shadow: 0px 5px 36px 0px #00adff66;
  padding: 5px;

  border-radius: 10px;
  background: linear-gradient(90.8deg, #a2eeff 7.28%, #029af0 89.82%);

  cursor: pointer;
}

.active-menu {
  background: linear-gradient(101.13deg, #a2eeff 20.92%, #029af0 96.46%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  color: transparent;
}

.active-menu-pointer {
  background: linear-gradient(180deg, #95e8fe 0%, #029bf1 100%);
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.not-active-menu-pointer {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

.mt-spacing {
  margin-top: 100px;
}

.sub-text {
  text-transform: uppercase;
  text-align: center;
  width: 450px;
}

.circle-fill {
  background: linear-gradient(180deg, #95e8fe 0%, #029bf1 100%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.circle-not-fill {
  background: #1e3245;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.position-absolute {
  position: absolute;
  bottom: 40px;
  right: 44%;
}

.uppercase {
  text-transform: uppercase;
}

.carousel-container {
  height: 30rem;
}

.slider-arrows {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
}

.next-carousel-preview {
  position: absolute;
  top: 0;
  right: -35%;
  z-index: -10;
}

.partners-text-box {
  width: 50%;
  text-align: center;
}

.partners-box {
  position: absolute;
  top: 40%;
  left: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tokenomics-text-1 {
  position: absolute;
  top: 15%;
  width: 15%;
}

.tokenomics-text-2 {
  position: absolute;
  top: 15%;
  left: 80%;
  width: 22%;
}

.tokenomics-text-3 {
  position: absolute;
  bottom: 15%;
  width: 18%;
}

.tokenomics-text-4 {
  position: absolute;
  bottom: 15%;
  left: 80%;
  width: 22%;
}

.mission-container {
  margin-top: -5%;
  background-image: url("/assets/mission-bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: cover; */
  height: 50rem;
}

.roadmap-text-section-1 {
  position: absolute;
  left: 80%;
  top: 7%;
  width: 100%;
}

.roadmap-text-section-2 {
  position: absolute;
  top: 27%;
  left: -55%;
  width: 100%;
}

.roadmap-text-section-3 {
  position: absolute;
  top: 45%;
  left: 80%;
  width: 100%;
}

.roadmap-text-section-4 {
  position: absolute;
  top: 64%;
  left: -55%;
  width: 100%;
}

.roadmap-text-section-5 {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 100%;
}

.quarter-3 {
  background: linear-gradient(194.34deg, #d96dff 3.9%, #ad00ff 98.12%);

  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  color: transparent;
}

.quarter-2 {
  background: linear-gradient(180deg, #95e8fe 0%, #029bf1 100%);

  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  color: transparent;
}

.new {
  background: linear-gradient(180deg, #95e8fe 0%, #029bf1 100%);

  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  color: transparent;
  padding: 20px;
}

.month {
  background: linear-gradient(194.34deg, #23ff95 3.9%, #03cd54 98.12%);

  background-clip: text;
  -webkit-background-clip: text; /* For Safari/WebKit browsers */
  color: transparent;
}

.roadmap-list {
  list-style-type: disc;
  width: 80%;
}

.liquidity-container {
  background: linear-gradient(180deg, #0c1416 0%, rgba(41, 47, 48, 0) 100%);
}

.shipping-container {
  /* border-radius: 646px;
  opacity: 0.3;
  background: linear-gradient(202deg, #10d4ff 0%, #029af0 100%);
  filter: blur(250px); */
}

.shipping-elektrik-logo {
  margin: -60px 0px -50px 0px;
}

.shipping-card {
  padding: 50px;

  display: flex;
  flex-direction: column;
  width: 371px;
  height: 440px;
  /* border: 1px solid #148eff; */
}

.shipping-card-1 {
  background-image: url("/assets/shipping-card-1-bg.svg");
}

.shipping-card-2 {
  background-image: url("/assets/shipping-card-2-bg.svg");
}

.shipping-card-3 {
  background-image: url("/assets/shipping-card-2-bg.svg");
}

/* .learn-more-container-1 {
  border-radius: 20px;
  border: 1.5px solid transparent;
  background: linear-gradient(180deg, #3c464f 0%, rgba(40, 40, 40, 0) 100%)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  width: 40%;
} */

.box-1 {
  /* width: 40%; */
}

.box-2 {
  /* width: 100%; */
}

.learn-more-container {
  position: relative;

  padding: 20px;
}
.learn-more-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  border: 1.5px solid transparent;
  background: linear-gradient(180deg, #3c464f 0%, rgba(40, 40, 40, 0) 100%)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.container-2 {
  /* width: 40%; */
}

.learn-more-container-section-1 {
  background: url("/assets/learn-more-img-1.svg");

  height: 300px;

  width: 100%;

  /* background-position: center; */
}

.card-text-box {
  width: 100%;

  padding: 10px;
  /* background-color: white; */
}

.flex-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  white-space: nowrap;
  overflow-x: hidden;
}

.flex-item {
  flex: none;
  min-width: 40%;
  white-space: normal; /* Allow text to wrap */
}

.max-w-md {
  max-width: 100%; /* Restrict the maximum width of the items */
}

.flex-shipping-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  white-space: nowrap;
}

.flex-shipping-item {
  flex: none;
  min-width: 20%;
  white-space: normal; /* Allow text to wrap */
}
